<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">


  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto"><a class="navbar-brand" [routerLink]="''">
        <div class="brand-logo"></div>
        <h2 class="brand-text mb-0">Gewinner</h2>
      </a></li>
      <!--      <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i></a></li>-->
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class=" navigation-header"><span>Apps</span></li>
      <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="''"><i
        class="feather icon-activity"></i><span class="menu-item" data-i18n="Analytics">Analytics</span></a></li>
      <li class=" nav-item"><a href="#"><i class="feather icon-globe"></i><span class="menu-title">News</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'news/articles'"><i class="feather icon-circle"></i><span
            class="menu-item">Articles</span></a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'news/events'"><i class="feather icon-circle"></i><span
            class="menu-item">Coming events</span></a></li>

        </ul>
      </li>

      <li class=" nav-item"><a href="#"><i class="feather icon-users"></i><span class="menu-title">Clients</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'clients/list'"><i class="feather icon-circle"></i><span
            class="menu-item">List</span></a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'clients/requests'"><i
            class="feather icon-circle"></i><span class="menu-item">Service requests</span></a></li>
        </ul>
      </li>

      <li class=" nav-item"><a href="#"><i class="feather icon-cpu"></i><span class="menu-title">Moovobrain</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'moovobrain/orders'"><i
            class="feather icon-circle"></i><span class="menu-item">Orders</span></a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'moovobrain/tests'"><i
            class="feather icon-circle"></i><span class="menu-item">Test requests</span></a></li>

        </ul>
      </li>

      <li class=" nav-item"><a href="#"><i class="feather icon-box"></i><span class="menu-title">Accessories</span></a>
        <ul class="menu-content">
          <li [routerLinkActive]="'active'"><a [routerLink]="'accessories/products'"><i class="feather icon-circle"></i><span
            class="menu-item">Products</span></a></li>
          <li [routerLinkActive]="'active'"><a [routerLink]="'accessories/orders'"><i
            class="feather icon-circle"></i><span class="menu-item">Orders</span></a></li>
        </ul>
      </li>


      <li class=" nav-item" [routerLinkActive]="'active'"><a [routerLink]="'team'"><i
        class="feather icon-user-check"></i><span class="menu-title">Team members</span></a></li>
      <li class=" nav-item" [routerLinkActive]="'active'"><a [routerLink]="'join-us'"><i
        class="feather icon-clipboard"></i><span class="menu-title">Job | Internship</span></a></li>

      <div class="add-data-btn">
        <button id="add-client-id" class=" nav-item" data-toggle="modal" data-target="#add-id-modal"><i
          class="feather icon-plus add-id-icon"></i><span class="menu-title">Add wheelchair ID</span></button>
      </div>

    </ul>
  </div>
</div>
<!-- END: Main Menu-->


<!-- confirmation modal -->
<div class="modal fade text-left" id="add-id-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel110"
     style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary white">
        <h5 class="modal-title" id="myModalLabel110">Add wheelchair ID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Wheelchair ID must be unique and provided to the client to allow him create an account
        <br><br>

        <div class="container-fluid">
          <div class="row">

            <input type="number" class="col-8 form-control" #addedIdElement>

            <div class="col-4">
              <button type="button" class="btn add-id-button btn-primary waves-effect waves-light"
              (click)="addClientId(addedIdElement)">
                Add ID
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



